.gwt-Label{
    font-size: 30px;
    color: aquamarine;
}

.gallery{
    display: flex;
}

.gallery img{
    width: 200px;
}
.table{
    border-style: ridge;
    border-width: 150px;
    border-color: black;
    background-color: beige;
}
.center-parent{
    display: flex;
    
  
    border: 8 solid #FFFF00 ;
    padding: 10;
    
}

.menu{
    width: 200px;
}
.header{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #4400ff;
}
.Link-container{
    margin: 5px;

}